body {
    background-color: burlywood;
}

p {
    margin-left: 20px;
    border-style: dotted;
    border-color: black;
}

div {
    border-style: solid;
    border-color: blue;
    /* background-image: url("../../images/1.jpeg"); */
    background: url("../../images/2.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
}